.list-item {
  height: 50px;
  border-radius: 10px;
  background: #BDDFF8;
  border-width: 1.5px;
  border-style: solid;
  margin: auto;
  display: flex;

  span {
    margin: auto;
    color: #181E26;
  }
}
